@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.wrapper {
  display: flex;

  flex-direction: row;
  margin: 2%;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 50%;
}

.banner {
  margin-left: 20%;
  width: 32rem;
}
li {
  list-style: url("assets/images/icon-list.svg");
}

input {
  width: 100%;
}
